<section>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12 terms-conditions'>
        <div class='text-center pb-4'>
          <h1> Terms and conditions </h1>
        </div>
        <p>Bienvenido a teprestounlibro, estos términos y condiciones son exclusivamente para beneficiar el proceso de préstamo de libros entre el prestador y el solicitante.</br>
          En esta aplicación podrás encontrar diferentes categorias de libros que pueden ser de tu agrado, también puedes crear tu propia cuenta para pedir y prestar esos libros que quizás están perdiendo vida arrumbados en tu librero. </br></p>
        <span> QUE NECESITO PARA FORMAR PARTE?</span>
        <p>- Para formar parte de esta comunidad necesitas contar con un correo valido y así crear tu cuenta dentro de nuestro sistema, misma que te servira para pedir y prestar libros</br>
        - Como usuario tu serás responsable del manejo de tu cuenta, si compartes tus credenciales la otra persona podrá tener el control y hacer uso de ella como propietario.</br>
        - Si notas algún cambio inusual en tu cuenta y crees que alguien la ha tomado sin tu consentimiento, puedes reportarlo con Aranza para que se los chingue.</p>  
        <span> Cosas que debes saber COMO PROPIETARIO</span>
        <p> - Tienes un tiempo máximo de dos días habíles para entregar el libro al usuario secundario (el que pide).</br>
        - Como propietario también puedes solicitar libros de tu agrado</p>
        <span> Cosas que debes saber COMO SOLICITANTE</span>
        <p>Tienes un tiempo máximo de entrega de dos meses a partir de que el PROPIETARIO te hace entrega del libro.</br>
        - En caso de daño, usuario solicitante se hace responsable de cubrir el costo de lo causado.</br>
        - Si ya cuentas con un libro prestado, NO podrás solicitar uno nuevo hasta que hayas entregado el actual</p>
      </div>
    </div>    
  </div>
</section>