<div class="container">
  <div class="row">
    <div class="col-md-12 book-form">
      <h1>Editing <%= @book.name.titleize %> book</h1>

      <%= render 'form', book: @book %>
    </div>
  </div>
</div>