<section id="index-books" class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">There <%= @books.count > 1 ? "are" : "is" %> <%= "#{pluralize(@books.count, "book")}" %> waiting for you!</h1>
  </div>
</section>

<div class="container">
  <%= link_to 'New Book', new_book_path %>

  <%= render 'book', collection: @books %>
</div>
