<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Books</h1>
  </div>
</section>

<div class="container">
  <%= link_to 'New Book', new_book_path %>

  <%= render 'book', collection: @books %>
</div>
