@import './bootstrap_custom.scss';

body {
  background: linear-gradient(0deg, rgba(241,241,241,0.2) 73%, rgba(0,0,0,0.5) 100%);
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  position: relative;
  padding-bottom: 10rem;
}

.categories {
  .card-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    .card-title {
      margin-bottom: 0;

      h5 {
        margin-bottom: 0;
      }
    }
  }
}

.main-nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: unset;
  transition: height .3s ease-out, background .3s ease-out, box-shadow .3s ease-out;
  transform: translate3d(0, 0, 0);
  z-index: 1040;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, .1);

  .navbar-collapse {
    flex-grow: 0;
  }
}

header {
  .navbar-brand, .nav-link {
    color: rgb(255, 255, 255);
  }
}

.alert {
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  top: 60px;
  z-index: 2000;
}

.devise-forms {
  justify-content: center;
  margin-top: 6rem;
}

footer{
  bottom: 0;
  width: 100%;
  position: absolute;
  font-style: italic;
  margin: 50px auto 0 auto;
  padding: 30px 0;
  text-align: center;

  a {
    color: #fff;
  }
}

#index-books {
  align-items: center;
  background:
    linear-gradient(to bottom right,rgba(21,22,47,1), rgba(249,208,39,0.4)),
    url("../../assets/images/books.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 0;
  color: #fff;
  display: flex;
  height: 40vh;
}

.card-img-top {
  margin: 10px auto;
  height: 200px;
  width: 200px;
}

.book-info {
  padding-top: 14vh;
  position: relative;
  min-height: 90vh;

  @media(max-width: 767px) {
    min-height: 70vh;
  }

  img {
    max-height: 600px;
  }

  .overflow-auto {
    max-height: 150px;
  }

  .actions {
    position: absolute;
    bottom: 0;

    @media(max-width: 767px) {
      position: unset;
      padding: 25px 0;
    }
  }

  .book-alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
  }
}

.terms-conditions{
  padding-top: 15vh;

  span{
    font-weight: 700;
  }
  text-align: justify;
}

.navbar-brand {
  font-size: 24px;
  font-weight: 600;
}


.header-home-page {
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(31,30,30,0.3) 50%, rgba(0,0,0,1) 100%), url("../../assets/images/homepage.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 0;
  color: #fff;
  display: flex;
  height: 70vh;
  background-attachment: fixed;
  padding-top: 30vh;

  h1 {
    font-size: 45px;
  }
}

.homepage-books {
  padding-top: 4rem;

  h2 {
    margin-bottom: 25px;
  }

  h4 {
    a {
    color: #f9d026;
    font-weight: 600;
    }
  }

}

.book-form {
  padding-top: 6rem;
}

.navbar-toggler-icon {
  background-image: $navbar-light-toggler-icon-bg;
}

#categories-index {
  align-items: center;
  background:
    linear-gradient(to bottom right,rgba(21,22,47,1), rgba(249,208,39,0.4)),
    url("../../assets/images/categories.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 0;
  color: #fff;
  display: flex;
  height: 40vh;
}

.form-check-inline {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}