@import './bootstrap_custom.scss';

body{
  padding-top: 60px;
}

.categories {
  .card-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    .card-title {
      margin-bottom: 0;

      h5 {
        margin-bottom: 0;
      }
    }
  }
}

.main-nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  .navbar-collapse {
    flex-grow: 0;
  }
}

.alert {
  margin-bottom: 0;
}

.devise-forms {
  justify-content: center;
}

#index-books {
  background:
    linear-gradient(to bottom right,rgba(21,22,47,1), rgba(249,208,39,0.4)),
    url("../../assets/images/books.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 0;
  color: #fff;
  height: 40vh;
  display: flex;
  align-items: center;
}

