<section id="categories-index" class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Genres</h1>
  </div>
</section>

<div class="container categories">
  <div class="row">
    <% @categories.each do |category| %>
      <div class="col-md-4">
        <div class="card mb-1">
          <div class="card-body">
            <div class="card-title">
              <h5 ><%= link_to category.name, category_path(category) %></h5>
            </div>
            <small><%= pluralize(category.approved_books.count, "book") %></small>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>