<section id="categories-index" class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading"><%= @category.name %></h1>
    <h4><%= @category.books.count > 0 ? "These books are" : "This book is" %> included in this category, enjoy them!</h4>
  </div>
</section>

<div class="container">
  <% if @books.any? %>
    <%= render 'books/book', collection: @books %>
  <% else %>
    <div class="text-center">
      <h2>There are not books related with this category yet =(</h2>
      <h3>come back later!</h3>
    </div>
  <% end %>
</div>